* {box-sizing: border-box;}


.aboutParachute{
  width:15px;
  height:10px;
}


.clearfix {
   content: " "; /* Older browser do not support empty content */
/*   visibility: hidden;*/
   display: block;
   height: 0;
   clear: both;
}

section{
  max-width: 1280px;
  min-width:400px;
  margin: 0 auto;
  padding:0px;
}

.aboutPage {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: .95;
    z-index: 100;
    background-color: #64C2D0;
}

.reveal{
  display:block;
}

#close{
  color:white;
  font-weight: bold;
  width:30px;
  display:block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: arial, sans-serif;
}

div.aboutDescription{
  display:block;
  width: 550px;
  margin: 0 auto;
  margin-top:50px;

  color:white;

}

nav{
  margin: 0 auto;
  /*margin-top:0px;*/
  background-color: white;
  width: 100%;
  height: 70px;
  position:fixed;
  top:0;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -65px;
}

#header{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

li{
  margin: 5px 20px 15px 20px;
  float: left;
  list-style: none;
  padding: 0px;
  height: 24px;
  display:inline;
}

#circle {
  color:white;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  background: #64C2D0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 100px;
  transition: all .25s ease-in-out;

}

.circleDown{
  margin-top:100px;
}

.circleUp{
  margin-top:-10px;
}

#circle:hover{
  width:90px;
  height:90px;
  margin-top: 20px;
  transform: scale(1.1);
}

/*
.leftSide{
  margin-left: 25px;
}

.rightSide{
  margin-left: 400px;
}*/




button{
  border-style: none;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}



.underline{
text-decoration: underline;
font-weight: bold;
}

button:hover{
  font-weight: bold;
  text-decoration: underline;
}

body{
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}


/*A To Do List for Life intro*/
h1{
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 25px;
}

/*icon/about button*/
#parachute{
  color: white;
  width: 20%;
  margin: auto;
  margin-left: 40%;
  margin-bottom: 300px;
}

/*entire container for grid*/
.goalMatrix{
  width:100%;
  display:inline-block;
  margin: auto;
}


.goalBox{
  display:inline-block;
  float:left;
  width:250px;
  height:250px;
  background-color: rgba(255, 255, 255, .5);
  border: white .5px solid;
  text-align: center;
  margin: 1px 2px 4px 2px;
  /*margin-bottom: 4px;*/
  padding-bottom: 25px;
}


.goalIcon{
  width:200px;
  margin-top: 20px;
}


/*
HOVER STATES
*/
 
/*background changes to black*/
.done:hover{
  background-color: rgba(0, 0, 0, .15);
}

.doneFiltered{
  background-color: rgba(0, 0, 0, .15);
  color:rgb(153,255,204);
}

.notDone:hover{
  background-color: rgba(0, 0, 0, .15);
}

.notDoneFiltered{
  background-color: rgba(0, 0, 0, .15);
  color: rgb(240, 230, 140);
}

.about{
  height: 40px;

}

.underline{
  text-decoration: underline;
}


/*text changes to green on items completed*/
.done:hover h3{
  color:rgb(153,255,204);
}

/*text changes to yellow on items not completed*/
.notDone:hover h3{
  color: rgb(240, 230, 140);
}

.done:hover h4.dueDate{
  display:inline-block;
  margin:auto;
  color:rgb(153,255,204);
  margin-left:5px;
  margin-top:5px;
  float:left;
}

.notDone:hover h4.dueDate{
  display:inline-block;
  margin-left:5px;
  margin-top:5px;
  color: rgb(240, 230, 140);
  float:left;
}

.goalBox:hover .dateIcon{
  display:inline-block;
  margin-left: 60px;
  margin-right:0px;
  float:left;
  color: rgb(240, 230, 140);
}





/*goal names*/
h3{
  margin-top:5px;
}

/*due date style*/
h4.dueDate{
  display:none;
  font-weight: 300;
  font-size: 14px;
}

h5{
  font-weight:bold;
  font-size: 18px;
}

/*watch or check*/
.dateIcon{
  width:25px;

}

.invisible{
  display:none;
}


@media (min-width:795){
  .FAB{
    display:none;
  }
}

/*
TABLET
*/

@media (min-width: 600px) and (max-width: 1000px){

    section{
            max-width: 800px;
            min-width:500px;
            margin: 0 auto;
           /* padding:0px;*/
          }

    .goalBox{
            display:inline-block;
          /*  float:left;*/
            width:350px;
            height:350px;
            padding-top: 50px;
             }
      body{
            background-image: url(../assets/background-tablet.jpg);
            display: block;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                  }


}
/*
MOBILE
*/

@media (max-width: 600px){

  body{
    background-image: url(../assets/background-mobile.jpg);
          }

  section{
            width: 300px;
            margin: 0 auto;
           /* padding:0px;*/
          }

  .goalBox{
            display:inline-block;
          /*  float:left;*/
            width:250px;
            height:250px;
            padding-top: 50px;
          }
}


/*
BOTH TABLET & MOBILE
*/ 

@media (max-width: 1000px){


button.mobile{ 
  display:inline-block;
  float:right;
  margin-left:80%;
}
div.mobileNav{
  width:28px;
  height:3px;
  margin:5px;
  background-color: black;
  z-index: 99;
}

  ul{
    display:none;
  }
  #circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  background: #64C2D0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}



button.FAB {
  display: inline-block;
  float:right;
  width: 80px;
  height: 80px;
  bottom: 2%;
  right:2%;
  /*margin-left: 80%;
  margin-right: 10%;
  margin-top: 90%;
  margin-bottom:10%;*/
  position: fixed;
  background: #64C2D0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 100px;
}

#credits{
  font-size:10px;
}

}