* {box-sizing: border-box;}

nav{
  margin:auto;
  /*margin-top:0px;*/
  background-color: white;
  width: 100%;
  height: 70px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.leftSide{
  margin-left: 25px;
}

.rightSide{
  margin-left: 400px;
}
li{
  display: inline-block;
  margin: 5px 20px 15px 20px;
  float: left;
  list-style: none;
}

li:hover{
  font-weight: bold;
  text-decoration: underline;
}


body{
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}


/*A To Do List for Life intro*/
h1{
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 25px;
}

/*icon/about button*/
#parachute{
  color: white;
  width: 20%;
  margin: auto;
  margin-left: 40%;
  margin-bottom: 300px;
}

/*entire container for grid*/
.goalMatrix{
  width:100%;
  display:inline-block;
  margin: auto;
}


.goalBox{
  display:inline-block;
  float:left;
  width:250px;
  height:250px;
  /*width: 250px;
  height:250px;*/
  background-color: rgba(255, 255, 255, .5);
  border: white .5px solid;
  text-align: center;
  margin: 1px 2px 4px 2px;
  /*margin-bottom: 4px;*/
  padding-bottom: 25px;
}


.goalIcon{
  width:200px;
  margin-top: 20px;
}


/*
HOVER STATES
*/
 
/*background changes to black*/
.done:hover{
  background-color: rgba(0, 0, 0, .15);
}

.notDone:hover{
  background-color: rgba(0, 0, 0, .15);

}

/*text changes to green on items completed*/
.done:hover h3{
  color:rgb(153,255,204);
}

/*text changes to yellow on items not completed*/
.notDone:hover h3{
  color: rgb(240, 230, 140);
}

.done:hover h4.dueDate{
  display:inline-block;
  margin:auto;
  color:rgb(153,255,204);
  margin-left:5px;
  margin-top:5px;
  float:left;
}

.notDone:hover h4.dueDate{
  display:inline-block;
  margin-left:5px;
  margin-top:5px;
  color: rgb(240, 230, 140);
  float:left;
}

.goalBox:hover .dateIcon{
  display:inline-block;
  margin-left: 60px;
  margin-right:0px;
  float:left;
  color: rgb(240, 230, 140);
}



/*goal names*/
h3{
  margin-top:5px;
}

/*due date style*/
h4.dueDate{
  display:none;
  font-weight: 300;
  font-size: 14px;
}

/*watch or check*/
.dateIcon{
  width:25px;

}

/*
MOBILE
*/

@media (min-width: 400px) and (max-width: 960px){

  body{
    background-image: url(../assets/background-tablet.jpg);
  }
  
}