
ul li{
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}
/* Why is this image of a Volleyball.png not showing? I tried doing "url(http://volleyballimage random") and that didn't work either!*/
li.before{
	content: ' ';
	background: "assets/Volleyball.png"; width: 2px; height: 2px;
}

h1{
  	font-family: roboto;
  	font-size: 40px;
  	color: green;
  	text-align: center;
  	text-decoration: underline;

  }
img{
	align: center;
}
section{
	color:white;
	padding: 50px;
	font-family: roboto;
	font-size: 12pt;

}
span.firstletter{
	font-size: 50px;
	float: left;
	clear:right;
}
.pretty{
	font-size: 60pt;
	text-align: center;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

footer{
	color:white;
}
span{
	padding-left: 20pt;
	padding-bottom: 20pt;
	font-style: italic;
	font-size: 9pt;
	font-family: roboto;
}