/*I'm not really understanding how divs, the box model, and floats fit together...*/

.clearfix {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

h1{
  font-size: 24px;
  font-weight: bolder;
  color: #f9e42e;
  display: inline;
  /*float:left;*/
  font-family: 'Open Sans', sans-serif;
  padding-top: 2px;
}

h2{
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3{
  z-index: 100;
  position: absolute;
  font-weight: bolder;
  background-color: #f9e42e;
  color: black;
  font-size: 20pt;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border: 5px;
}

h4{
  font-weight: bold;
  font-size: 20px;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
}

div.top{
  width:1200px;
  height:700px;
  background-image: url(../assets/header_bg.jpg);
}

div.main-content{
  display: block;
  background-color: white;
  text-align: left;
  padding-left: 50px;
  width: 60%;
  float: left;
}

div.sidebar{
  width:40%;
  float: right;
}

p{
  color:#606161;
  font-family: 'Open Sans', sans-serif;
}

li{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #606161;
}

header{
  background-image: 
}

#header{
  width:1024px;
  position: relative;
}

#main_pic{
  position: absolute;
  left: 0;
  top: 0;
}

#title{
  z-index: 100;
  position: absolute;
  color:yellow;
  font-family: 'Open Sans', sans-serif;
  font-size: 35pt;
}

.header{
  font-family: 'Open Sans', sans-serif;
}

.header-image{
  width: 100%;
  height:750px;
  display: inline;
}

.main-content{
  height: 500px;
  width:100%;
}

.wrapper{
  margin:0 auto;
  width: 980px;
}

div.CTA{
  display: inline-block;
  background-color: #f9e42e;
  width:300px;
  height:50px;
  border: 50px;
  padding: 2px;
  margin:0px;
  text-align: center;
}

.CTA{
  font-size: 12px;
  border:5px;
  text-align: center;
  background-color: #f9e42e;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.Amanda_quote{
  font-style: italic;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

.testimonials{
  width:1200px;
  height:394px;
  background-image: url(../assets/testimonial_bg.jpg);
}

span{
  font-size: 18px;
  font-weight: bolder;
  border: 5px;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

.footer-title{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif
}
footer{
  font-size: 9px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}